
.pt-1 {
    padding-top: 80px;
}
.px-1 {
    padding-left: 160px;
    padding-right: 160px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 80px;
}

.mb-2 {
    margin-bottom: 160px;
}